**/node_modules
**/.next
**/.env
**/.env.local
**/.env.*.local
**/prisma/dev.db
.DS_Store

# Prisma / SQLite
**/*.db
**/*.sqlite
**/*.sqlite3

# Editor temp files
**/*.swp
**/*.swo
**/*~
**/*.bak

# Logs
**/*.log
